/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
  background: #F54927; /* red, blue, yellow, etc */
  color: yellowgreen; /* red, blue, yellow, etc */
  font-size: 25px; /* 0px - 100px and beyond */
  font-weight: bolder; /* lighter, normal, bold  */
  text-align: center; /* left, center or right  */
  margin-top: 680px; /* From 0px and upwards   */
}
